.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./Wallll.jpg");
}

.floating-div{
  border-radius: 30px;
  /* background-color: #ffffffa2; */
  background-color: #ffffff49;
  padding: 40px;
  margin-bottom: 40px;
  backdrop-filter: blur(40px);
  z-index: 9999;    
  box-shadow: 2px 2px 20px #00000074;
  height: 50vh;
  width: 20vw;
  text-align: center;
}
.floating-div h2{
  font-size: 30px;
  margin: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}


.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-input {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-label {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #99999915;
}



.signup-nav-button {
  margin: 5px;
  width: 100px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-nav-button:hover {
  background-color: #217dbb;
}

.blurred {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("./Wallll.jpg");
  background-size: cover;
  filter: blur(50px);
}

.successfully {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100px;
  width: 40%;
  background-color: #ffffff;
  border: 3px solid rgba(193, 189, 194, 0.432);
  border-radius: 15px;
  padding: 10px;
  font-size: 30px;
  color: rgba(51, 50, 50, 0.638);
  text-align: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  text-align: center;
}

@media (max-width: 768px) {
  .signup-input {
    width: 100%;
  }
  
  .signup-buttons {
    flex-direction: column;
    margin-top: 10px;
  }
  
  .signup-nav-button {
    margin-bottom: 10px;
    width: 100%;
  }
}
