.update {
  background-color: rgba(3, 3, 147, 0.659);
  position: relative;
  /* margin-left: 58%;
  margin-right: 0; */
  margin-top: 10px;
  top: 350px;
  bottom: 0px;
  border-radius: 20px;
  height: 40%;
  width: 60%;
  gap: 10px;
}
