/* Default styles */
body {
    margin: 0;
    padding: 0;
  }
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("./Wallll.jpg");
    background-size: cover;
    background-position: center;
    
  }
  
  .frontpage-container {
    position: relative;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  
  
  .frontpage-heading {
    position: relative;
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    margin-bottom:21%;
    color: #ffffff;
    text-shadow: 
    -2px 2px 3px #0000004d,
    2px 2px 3px #0000004d,
   2px -2px 3px #0000004d,
  -2px -2px 3px #0000004d;;
  }

  .frontpage-nav {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: -55%;
    margin-left: 60%;
    margin-bottom:55%;

  }
  
 
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a h4 {
    color: #e1e1e1;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 5px #000000cb;
  }

.navback{
  background-image: linear-gradient(rgba(0, 0, 1, 0.814), rgba(48, 25, 144, 0));  border-radius: 20px;
  width: 100%;
  margin-left: 0;
}

  section {
    position: relative;
  }
  .section-about {
    border-radius: 30px;
    background-color: #ffffff18;
    color: #c4c7cf;
    padding: 40px;
    margin-bottom: 40px;
    backdrop-filter: blur(40px);
    z-index: 9999;    
    box-shadow: 2px 2px 20px #00000074;

  }
 
  .section-about h2 {
    font: 5vw "Arial";
    text-align: center;
    font-weight: bold;
  }
  .section-about p {
    font: 25px "Arial";
    padding: 20px;
    margin: 10px;
  }
  
  .section-services {
    border-radius: 30px;
    background-color: #050505a4;
    padding: 40px;
    margin-bottom: 40px;
  }
  
  .section-services h2 {
    font: 5vw "Arial";
    text-align: center;
    font-weight: bold;
  }
  .section-services li {
    font: 3vw "Arial";
    font-weight: bold;
  }
  
  section p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  section ul {
    list-style: disc;
    margin-left: 10px;
  }
  
  footer {
    text-align: center;
    font-size: 14px;
  }
  
  /* Media queries for responsiveness */
  
  @media (max-width: 768px) {
    .frontpage-heading {
      font-size: 30px;
    }
  
    .section-about,
    .section-services {
      padding: 20px;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .frontpage-heading {
      font-size: 24px;
    }
  
    nav ul li {
      margin: 0 5px;
    }
  
    section h2 {
      font-size: 20px;
    }
  
    section p {
      font-size: 14px;
    }
  }
  