body {
  color: blue;
}

h1 {
  color: rgba(62, 62, 62, 0.466);
  font-size: 20px;
  margin: 20px;

}
.connected {
    display: flex;
    position: absolute;
    gap: 10%;
    /* margin-left:-100px; */
    /* margin-top: 10px; */
    top: 350px;
    bottom: 0px;
    border-radius: 20px;
    height: 40vh;
    /* gap: 10px; */
    width: 80vh;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

button {
  align-items: center;
  width: 100px;
  padding: 10px;
  background-color: #EB806C ;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/*   position: relative;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  margin-left: 195px;
  margin-top: 100px; */
/* connected.css */
.datatable {
  background-color: #f1f1f1; /* Set the background color */
}

.datatable td {
  font-family: Arial, sans-serif; /* Set the font family */
  font-size: 14px; /* Set the font size */
  font-weight: bold; /* Set the font weight */
  color: #333; /* Set the font color */
}
