.connected {
    background-color: rgba(3, 3, 147, 0.659);
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-left:-83%;
    margin-top: 10px;
    top: 350px;
    bottom: 0px;
    border-radius: 20px;
    height: 45%;
    gap: 10px;
    width: 40%;

}
/*   position: relative;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  margin-left: 195px;
  margin-top: 100px; */
/* connected.css */
.datatable {
  background-color: #f1f1f1; /* Set the background color */
}

.datatable td {
  font-family: Arial, sans-serif; /* Set the font family */
  font-size: 14px; /* Set the font size */
  font-weight: bold; /* Set the font weight */
  color: #333; /* Set the font color */
}
