/* Default styles */
.container {
  margin: 0 auto;
  /* padding: 20px; */
  position: absolute;
  background-color: transparent;
}
.stat{
   width: 100vh;
   position: absolute;
}
.StatisticsBar {
  background-color: red;
  display: inline-flex;
  position: relative;
  /* margin-left: 210px;
  margin-top: 20%;  */
  width: 60vh;
}

.StatisticsLine {
  background-color: red;
  display: inline-flex;
  position: relative;
  /* margin-left: 570px;
  margin-top: 20%; */
  width: 60vh;
}

.StatisticsPie {
  background-color: rgba(255, 0, 0, 0.444);
  display: inline-flex;
  position: relative;
  /* margin-left: 1000px;
  margin-top: 20%; */
  width: 60vh;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.dashboard-description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-button {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Media queries for responsiveness */

@media (max-width: 1024px) {
  .StatisticsBar {
    left: 50px;
  }

  .StatisticsLine {
    left: 320px;
  }

  .StatisticsPie {
    left: 580px;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }

  .dashboard-title {
    font-size: 20px;
  }

  .dashboard-description {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .dashboard-button {
    width: 150px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    padding: 5px;
  }

  .dashboard-title {
    font-size: 18px;
  }

  .dashboard-description {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .dashboard-button {
    width: 120px;
    font-size: 12px;
  }
}
