/* Default styles */
body {
    margin: 0;
    padding: 0;
  }
  
  .frontpage-container {
    position: absolute;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .frontpage-heading {
    position: relative;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    margin-bottom:20%;
  }
  .frontpage-nav {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: -18%;
    margin-bottom:28%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .section-about {
    border-radius: 30px;
    background-color: #ffffff71;
    color: #333;
    padding: 40px;
    margin-bottom: 40px;
  }
  
  .section-services {
    border-radius: 30px;
    background-color: #f5f5f578;
    padding: 40px;
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  section ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  footer {
    text-align: center;
    font-size: 14px;
  }
  
  /* Media queries for responsiveness */
  
  @media (max-width: 768px) {
    .frontpage-heading {
      font-size: 30px;
    }
  
    .section-about,
    .section-services {
      padding: 20px;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .frontpage-heading {
      font-size: 24px;
    }
  
    nav ul li {
      margin: 0 5px;
    }
  
    section h2 {
      font-size: 20px;
    }
  
    section p {
      font-size: 14px;
    }
  }
  