.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./Wallll.jpg");
  }
  .floating-div{
    border-radius: 30px;
    /* background-color: #ffffffa2; */
    background-color: #ffffff49;
    padding: 40px;
    margin-bottom: 40px;
    backdrop-filter: blur(40px);
    z-index: 9999;    
    box-shadow: 2px 2px 20px #00000074;
    height: 40vh;
    width: 20vw;
    text-align: center;
  }
  .floating-div h2{
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .login-heading {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-input {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* .login-button {
    width: 100px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #217dbb;
  } */
  .login-error{
    color: rgb(255, 0, 0);
  }
  .login-buttons {
    margin-top: 20px;
    font-size: 4;
  }
  
  .login-nav-button {
    margin: 5px;
    width: 100px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .back-button{
    color: white;
  }
  .login-nav-button:hover {
    background-color: #217dbb;
  }
  
  @media (max-width: 768px) {
    .login-input {
      width: 100%;
    }
    
    .login-buttons {
      flex-direction: column;
      margin-top: 10px;
    }
    
    .login-nav-button {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  